<% provide(:title, 'Home') %>

<div class="container-fluid">
  <div class="span8">
    <% if signed_in? %>
      <%= text_field_tag 'person_name' %>

      <section>
      <%= render 'shared/link_form' %>
      </section>

      <% if @feed_items.any? %>
        <ol class="links">
          <%= render partial: 'shared/feed_item', collection: @feed_items %>
        </ol>
        <%= will_paginate @feed_items %>
      <% end %>	
    <% else %>
    <h4> Front Page </h4>
      <ol class="links">
        <%= render @links %>
      </ol>
    <% end %>
  </div>  
</div>
