
<div class="container-fluid">
  <div class="span8">
    <% if signed_in? %>
<% provide(:title, 'Home') %>
      <section>
      <%= render 'shared/link_form' %>
      </section>
        <ol class="links">
          <%= render @link_users %>
        </ol>
        <%= will_paginate @link_users %>

    <% else %>
      <% cache "front", expires_in: 2.minutes do %>
        <% provide(:title, 'What is the best thing you saw on the Internet today?. Lets go..' ) %>
      <h3> What is the best thing you saw on the Internet today? Let's go... </h3>
      <ol class="links">
        <%= render @link_users if @link_users %>
      </ol>
        <%= will_paginate @link_users %>
    <% end %>
  <% end %>
  </div>  
</div>
