
<span class="exp_explain"> <h4> Not using fb login? Sign in using email </h4></span>
   <%= form_for :session, url: sessions_path do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>
      <br/>
<div class="field">
  <%= check_box_tag :remember_me, 1, params[:remember_me] %>
  <%= label_tag :remember_me %>
</div>

      <%= f.submit "Sign in", class: "btn btn-large" %>
    <% end %>
    <p> New user? <%= link_to "Sign up now", show_signup_path, remote: true %> </p><p><%= link_to "forgotten password?", new_password_reset_path %></p>
