<li>

<div class="comment-<%= comment.id %>">
  <% if comment %>

    <% if comment.user== current_user %>
      <div class="del_comment"> 
        <%= link_to raw("<i class=\"icon-remove icon-small\"></i>"),  comment, method: :delete, data: { confirm: "You sure?" }, title: comment.body %>
      </div>
    <% else %>
      <div class="flag">
        <%= render 'flags/flag_button', flaggable: comment, type: "Comment" %>
      </div>
    <% end %>
    <% if comment.user %>
      <%= link_to gravatar_for(comment.user, size: 10), comment.user %>
      <div class="user_link">
        <span class="user">
          <%= link_to comment.user.name, comment.user %>
        </span>
      </div>
    <% end %>
    <%= comment.body %>
    <div class="comment_in_links">
      <%= image_tag comment.avatar.url(:medium) if comment.avatar.exists? %>
    </div>
    <div class="votes-up"> <i class="icon-caret-up icon-small"></i></div>
    <div class="votes">
      <%= comment.votes.count %>
    </div>
    <div class="comment-downvote">
      <%= render 'comment_downvotes/downvote_button', comment: comment %>
    </div>
    <div class="vote">
      <%= render 'votes/vote_button', votable: comment, type: "Comment" %>
    </div>
    <% if comment.commentable_type == 'Link' %>

  <i class="icon-comments-alt icon-small", style= "float: left"></i>
      <div class="show_comment">
        <%= link_to pluralize(comment.comments.count, "reply"), comment_path(comment), class: 'hook-comment-comments', remote: true %>
      </div>
    <% else %>
    <% end %>
    <div class="span8">
      <div id="comment-comments", class="span6">
      </div>
      <div class="comments-form">
      </div>
    </div>
  <% end %>
  <br/>
</div>
</li>
