<% cache "#{comment.id}_comment" do %>
  <div class="timestamp">
    <% if comment.commentable_type == 'Link' %>
      <%= link_to timing(comment.created_at), link_comment_path(comment.commentable, comment) %>
    <% else %>
      <%= timing(comment.created_at) %>
    <% end %>
  </div>
    <%= image_tag (comment.user.avatar.url(:thumb)), class: "comment-image" %>

    <div class="user_link">
      <span class="user">
        <%= link_to comment.user_name, comment.user %>
      </span>
    </div>
     <div class="expandable"> <%= comment.body %></div>
    <div class="comment_in_links">
      <%= image_tag comment.avatar.url(:medium) if comment.avatar.exists? %>
    </div>
  <% end %>
