<% cache "#{comment.id}_comment" do %>
  <span class="timestamp">
    <% if comment.commentable_type == 'Link' %>
      <!--
         -<%= link_to timing(comment.created_at), link_comment_path(comment.commentable, comment) %>
         -->
        <%= link_to (timeago_tag comment.created_at, :nojs => true, :limit => 10.days.ago),  link_comment_path(comment.commentable, comment) %>
    <% else %>

        <%= timeago_tag comment.created_at, :nojs => true, :limit => 10.days.ago %>
    <% end %>
  </span>
    <%= image_tag (comment.user.avatar.url(:thumb)), class: "comment-image" %>

    <div class="user_link">
      <span class="user">
        <%= link_to comment.user.name, comment.user, class: 'profile_hover', data: { hovercard: comment.user.id } %>
      </span>
    </div>
     <div class="expandable"> <%= comment.body %></div>
  <% end %>
