<li>
<% if comment %>
<% if comment.user %>
<%= link_to gravatar_for(comment.user), comment.user %>
<div class="user_link">
<span class="user">
  <%= link_to comment.user.name, comment.user %>
</span>
</div>
<% end %>
<div class="comment_in_links">
<%= comment.body %>
</div>
<% end %>
<% if comment.user== current_user %>
  <%= link_to "delete", comment, method: :delete, data: { confirm: "You sure?" }, title: comment.body %>
<% end %>
<div class= "row_of_linkstats">
<% if !@comment %>

<div class="comments">
<%= link_to pluralize(comment.comments.count, "reply"), link_comment_path(@link, comment) %>
</div>

<% end %>
</li>
