<li>

<div class="comment-<%= comment.id %>">
  <% if comment %>

    <% if comment.user== current_user %>
      <div class="del_comment">  <%= link_to raw("<i class=\"icon-remove icon-small\"></i>"),  comment, method: :delete, data: { confirm: "You sure?" }, title: comment.body %>
      <% else %>
        <div class="flag">
          <%= render 'flags/flag_button', flaggable: comment, type: "Comment" %>
        </div>
      <% end %>
    </div>
    <% if comment.user %>
      <%= link_to gravatar_for(comment.user, size: 10), comment.user %>
      <div class="user_link">
        <span class="user">
          <%= link_to comment.user.name, comment.user %>
        </span>
      </div>
    <% end %>
    <%= comment.body %>
    <div class="comment_in_links">
      <%= image_tag comment.avatar.url(:medium) if comment.avatar.exists? %>
    </div>
    <div class="votes-up"> <i class="icon-caret-up icon-small"></i></div>
    <div class="votes">
      <%= comment.votes.count %>
    </div>
    <div class="comment-downvote">
      <%= render 'comment_downvotes/downvote_button', comment: comment %>
    </div>
    <div class="vote">
      <%= render 'votes/vote_button', votable: comment, type: "Comment" %>
    </div>
    <div class= "row_of_linkstats">
      <% if comment.commentable_type == 'Link' %>

        <div class="comments">
          <%= link_to pluralize(comment.comments.count, "reply"), link_comment_path(comment.commentable, comment) %>
        </div>

      <% end %>
    <% end %>
  </div>
  </li>
