<div class="container-fluid">
  <div class="span8">
  <div class="comment-<%= @comment.id %>" >

<% if @comment %>

 <meta property="fb:app_id" content="295241533825642" /> 
  <meta property="og:type"   content="website" /> 
  <meta property="og:url"    content="<%= comment_url(@comment)%>"/>
  <meta property="og:title"  content= "<%= @comment.body %>" /> 
  <meta property="og:image"  content="https://s-static.ak.fbcdn.net/images/devsite/attachment_blank.png" />
<% if @comment.user== current_user %>
  <div class="del_comment">  <%= link_to "delete", @comment, method: :delete, data: { confirm: "You sure?" }, title: @comment.body %></div>
<% end %>
<% if @comment.user %>
<%= link_to gravatar_for(@comment.user), @comment.user %>
<div class="user_link">
  <h4>
  <span class="user">
  <%= link_to @comment.user.name, @comment.user %>
</span>
</div>
<% end %>

<%= @comment.body %>
<div class="comment_in_links">
<%= image_tag @comment.avatar.url(:medium) %>
</div>
</h4>
<%= link_to @comment.commentable.url_heading, 'http'+ @comment.commentable.url_link %>

<% end %>

<div class="vote">
	<%= render 'votes/vote_button', votable: @comment, type: @comment.class.to_s %>
      </div>
<div class="votes">
<%= pluralize(@comment.votes.count, "vote")%>
</div>
<div class="show_comment">
<%= pluralize(@comment.comments.count, "reply") %>
</div>
</div>

<div class="span8">
<ol class="full_comments">
<%= render partial: 'comments/comment', collection: @comment.comments %>
</ol>
<%= will_paginate @comments %>

<section>
<%= render 'shared/comment_form' %>
</section>
</div>
</div>
</div>
