<% provide(:title, @comment.body) %>
<div class="container-fluid span8">

  <meta property="fb:app_id" content="295241533825642" /> 
  <meta property="og:type"   content="website" /> 
  <meta property="og:url"    content="<%= comment_url(@comment)%>"/>
  <meta property="og:title"  content= "<%= @comment.body %>" /> 
  <meta property="og:image"  content="<%= @comment.avatar.url if @comment.avatar? %>" />
  <%= render 'links/link_info', link: @comment.commentable %>
  <%= render 'comments/comment', comment: @comment %>
</div>
