
  <% link = link_user.link %>
  <% topic = link_user.topic %>
  <% if signed_in? and topic %>
    <div class="unsubmit">
      <%= link_to raw("<i class=\"icon-remove icon-small\"></i>"),  unsubmit_topic_path(topic, unsubmit: link_user, topic: topic), method: :post %>
    </div>
  
    <%= image_tag (@user.avatar.url(:thumb)), class: 'comment-image'  %>

    <div class="user-profile">
        <%= link_to @user.name, @user %>
    submitted to <%= link_to topic.name, topic_path(topic) %>
  </div> 
  <br/>

  <% end %>  
  <%= render 'links/link', link: link %>
