<% link = link_user.link %>
<div class="span8 container">
  <div class= "link-<%= link_user.id %>" >
    <div class="link_contain">
      <% topic = link_user.topic %>
      <% if link_user.user == current_user and topic %>
        <span class="unsubmit">
          <%= link_to raw("<i class=\"icon-remove icon-small\"></i>"),  link_path(link, unsubmit: link_user, topic: topic.id), method: :delete, remote: true %>
        </span>
      <% else %>
        <%= link_to raw("<i class=\"icon-remove icon-small\"></i>"), "#", class: "dummy" %>
        <!--
        -created a dummy link so that unsigned user see a good profile links which is otherwise unaligned :)
        -->
      <% end %>  

      <% cache link_user do %>
      <div class="user-profile">
        <%= image_tag (link_user.user.avatar.url(:thumb)), class: 'comment-image'  %>
        <%= link_to link_user.user.name, link_user.user, class: 'profile_hover', data: { hovercard: link_user.user.id } %>
        submitted to <%= link_to topic.name, topic_path(topic), class: 'topic_hover', data: { hovercard: topic.id } %>
      </div> 
        <div class="link_info"><%= render 'links/link_info', link: link %></div>
        <span class="votes-up"> <i class="icon-caret-up icon-small"></i></span>
        <span class="votes">
          <%= link_user.votes.count %>
        </span>
      <% end %>
        <span class="show-comments">  <%= link_to pluralize(link.comments.count, "comment"), link %></span>
      <div id="topic-downvote">
        <%= render 'downvotes/downvote_button', votable: link_user, type: "LinkUser" %>
      </div>

      <div class="vote">
        <%= render 'votes/vote_button', votable: link_user, type: "LinkUser" %>
      </div>
    </div>
  </div>
</div>
<!--
-<div class="underline"></div>
-->
