<aside> 
  <section>
<div class="follow_button">  <%= render 'topics/follow_form' if signed_in? %> </div>
<h3>
<%= image_tag @topic.avatar.url(:medium) %>
  <%= @topic.name %>
</h3>
<ul class="breadcrumb">
  <li>
  <%= link_to "Feed" , topic_path(@topic) , class:("active" if @page_tab == "Feed")%><span class="divider">/</span> </li> 
  <li>
  <%= link_to "Edit" , edit_topic_path(@topic) ,class:("active" if @page_tab == "Edit") %> </li>
</ul>
</div>
</div>
</section>
</aside>
