<aside> 
  <section>
<div class="follow_button">  <%= render 'topics/follow_form', topic: @topic if signed_in? %> </div>
<% cache @topic do %>
<h3>
<%= image_tag (@topic.avatar.url(:thumb)), class: "topic-pic" %>
  <%= @topic.topic_name %>
</h3>
<div class="expandable"><%= @topic.description %></div>
<ul class="breadcrumb">
  <li>
  <%= link_to "Feed" , topic_path(@topic) , class:("active" if @page_tab == "Feed")%><span class="divider">/</span> </li> 
  <li>
  <%= link_to "Edit" , edit_topic_path(@topic) ,class:("active" if @page_tab == "Edit") %> </li>
  <li class="followers-count"> 
  <%= pluralize(@topic.following_users.count, 'follower') %></li>
</ul>
</div>
</div>
</section>
</aside>
<% end %>
