<% provide(:title, "Edit Topic") %>

<div class="row-fluid">
  <div class="span8">
    <% tab "Edit" %>
    <%= render 'topic_stats' %>
    <h5> Edit Topic </h5>
    <%= form_for @topic, :html => {:multipart => true}  do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :description %>
      <%= f.text_field :description %>
       <br/>
       <%= f.label :image %>
       <%= f.file_field :avatar %>
       <br/>
       <br/>
      <%= f.submit "Save changes", class:"btn" %>
    <% end %>
  </div>
</div>
