<li class="nostyle">
<% notifiable = notification.notifiable %>
<% if notifiable.is_a? Vote %>
  <% if notifiable.votable.is_a? Comment %>
    <span class="span8">
    <%= image_tag (notifiable.user.avatar.url(:thumb)), class: "comment-image" %>
    <%= link_to notifiable.user.user_name, notifiable.user, class: 'profile_hover', data: { hovercard: notifiable.user.id } %> voted on your comment

    <span class="span8"><%= render 'comments/comment', comment: notifiable.votable %></span>
  </span>
  <% else %>
    <span class="span8">
    <%= image_tag (notifiable.user.avatar.url(:thumb)), class: "comment-image" %>
    <%= link_to notifiable.user.user_name, notifiable.user, class: 'profile_hover', data: { hovercard: notifiable.user.id } %> voted on your link </span>
    <%= render 'link_users/link_user', link_user: notifiable.votable %>
  <% end %>
  <% elsif notifiable.is_a? Comment %>
    <span class="span8">

    <%= image_tag (notifiable.user.avatar.url(:thumb)), class: "comment-image" %>
    <%= link_to notifiable.user.user_name, notifiable.user, class: 'profile_hover', data: { hovercard: notifiable.user.id } %>
    replied to your comment
    <span class="span8"><%= render 'comments/comment', comment: notifiable.commentable %></span>
  </span>

  <% elsif notifiable.is_a? Relationship %>
    <div class="span8">
    <%= image_tag (notifiable.followed.avatar.url(:thumb)), class: "comment-image" %>
        <%= link_to notifiable.followed.user_name, notifiable.followed, class: 'profile_hover', data: { hovercard: notifiable.followed_id } %> is now following you 
    </div>
  <% end %>
  </li>
