<li class="nostyle">
<% notifiable = notification.notifiable %>
<% parent = notification.parent %>
<% if notifiable.is_a? Vote %>
  <% if parent.is_a? Comment %>
    <span class="span8">
    <%= image_tag (notifiable.user.avatar.url(:thumb)), class: "comment-image" %>
    <%= link_to notifiable.user.name, notifiable.user, class: 'profile_hover', data: { hovercard: notifiable.user.id } %>
    <%  if parent.votes.size > 1 %>
      and
      <%= pluralize((parent.votes.size) -1 , "other")  %>
    <% end %> 
    voted on your comment

    <span class="span8"><%= render 'comments/comment', comment: parent %></span>
  </span>
  <% else %>
    <span class="span8">
    <%= image_tag (notifiable.user.avatar.url(:thumb)), class: "comment-image" %>
    <%= link_to notifiable.user.name, notifiable.user, class: 'profile_hover', data: { hovercard: notifiable.user.id } %> 
    <%  if parent.votes.size > 1 %>
      and
      <%= pluralize((parent.votes.size) - 1, "other")%> 
    <% end %>
    voted on your link </span>
    <%= render 'link_users/link_user', link_user: parent %>
  <% end %>
  <% elsif notifiable.is_a? Comment %>
    <span class="span8">

    <%= image_tag (notifiable.user.avatar.url(:thumb)), class: "comment-image" %>
    <%= link_to notifiable.user.name, notifiable.user, class: 'profile_hover', data: { hovercard: notifiable.user.id } %> 
    <% if parent.comments.size > 1%>
      and others 
    <% end %>
    replied to your comment
    <span class="span8"><%= render 'comments/comment', comment: parent %></span>
  </span>

  <% elsif notifiable.is_a? User%>
    <div class="span8">
    <%= image_tag (notifiable.avatar.url(:thumb)), class: "comment-image" %>
        <%= link_to notifiable.name, notifiable, class: 'profile_hover', data: { hovercard: notifiable.id } %> is now following you 
    </div>
  <% end %>
  </li>
