<div class="linkuser_contain">
  <% link = link_user.link %>
  <div class= "link-<%= link.id %>" >
    <% topic = link_user.topic %>

    <% if signed_in? and topic %>
      <div class="unsubmit">
        <%= link_to raw("<i class=\"icon-remove icon-small\"></i>"),  unsubmit_topic_path(topic, unsubmit: link_user), method: :post %>
      </div>

      <%= image_tag (@user.avatar.url(:thumb)), class: 'comment-image'  %>

      <div class="user-profile">
        <%= link_to @user.user_name, @user %>
        submitted to <%= link_to topic.topic_name, topic_path(topic) %>
      </div> 
    <% end %>  
    <%= render 'links/link', link: link %>

  </div>
  <div class="underline"></div>
</div>
