<div class="linkuser_contain">
  <% link = link_user.link %>
  <div class= "link-<%= link.id %>" >
    <% topic = link_user.topic %>

    <% if link_user.user == current_user and topic %>
      <div class="unsubmit">
            <%= link_to raw("<i class=\"icon-remove icon-small\"></i>"),  link_path(link_id: link.id, unsubmit: unsubmit, topic: topic.id), method: :delete %>
      </div>

    <% end %>  
      <%= image_tag (@user.avatar.url(:thumb)), class: 'comment-image'  %>

      <div class="user-profile">
        <%= link_to @user.user_name, @user %>
        submitted to <%= link_to topic.topic_name, topic_path(topic) %>
      </div> 
    <%= render 'links/link', link: link %>

  </div>
  <div class="underline"></div>
</div>
