
<li class="user_in">
<span class="follow_button user-<%= user.id %>">  <%= render 'follow_form', user: user if signed_in? %> </span>
<%= image_tag (user.avatar.url(:medium)), class: "gravatar" %>
<%= link_to user.name, user, class: 'profile_hover', data: {hovercard: user.id} %>
  <% if current_user and current_user.admin? %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
