
<li>
<div class="follow_button user-<%= user.id %>">  <%= render 'follow_form', user: user if signed_in? %> </div>
<%= image_tag (user.avatar.url(:thumb)), class: "gravatar" %>
<span class="profile_hover"> <%= link_to user.name, user %></span>
  <% if current_user and current_user.admin? %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
