    <h4> Sign up </h4>

    <%= simple_form_for @user, validate: true, :html => { :class => "form-horizontal" }  do |f| %>

      <!--
         -<%= render 'shared/error_messages' %>
         -->
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-large" %>
    <% end %>
