<div class="link-<%= feed_item.id %>">

  <%= render 'links/link', link: feed_item %>
  <div class="vote">
    <%= render 'votes/vote_button', votable: feed_item, type: feed_item.class.to_s %>
  </div>
  <div class="votes-up"> <i class="icon-caret-up icon-small"></i></div>
  <div class="votes">
    <%= feed_item.votes.count %>
  </div>
      <div class="votes-up"><i class="icon-comments-alt icon-small"></i></div>
  <div class="show-comments">
    <%= link_to pluralize(feed_item.comments.count, "comment"), feed_item %>
  </div>
</div>
  <ol class="full_comments"> 
<div class="span8">
  <div class="span6">
    <%= render partial: 'comments/comment', collection: feed_item.following_comments(current_user) %>
</div>
</div>
  </ol>
<br/>
<div class="underline"></div>

