<li>
<div class="link-<%= feed_item.id %>">
  <div class="submit_row">

    <div class="user_image">
      <% feed_item.following_submits(current_user).each do |user| %>
        <%= link_to gravatar_for(user, size: 20), user %>
      <% end %>

    </div>
  </div>
  <% host = 'http://'+ feed_item.url_link %>

  <div class="link_url">
    <span class="url_link"><%= link_to feed_item.url_heading, 'http://' + feed_item.url_link %> </span>
  </div>

  <div class="host_link">
    <%= link_to host.match(".+\:\/\/([^\/]+)")[1], host.match(".+\:\/\/([^\/]+)")[1] %> 
  </div>
  <div class="vote">
    <%= render 'votes/vote_button', votable: feed_item, type: feed_item.class.to_s %>
  </div>
  <div class="votes">
    <%= feed_item.votes.count %>
  </div>
  <div class="votes-up"> <i class="icon-caret-up icon-small"></i></div>
  <div class="show-comments">
    <%= link_to pluralize(feed_item.comments.count, "comment"), feed_item %>
  </div>
</div>
<div class="span8">
  <div class="span6">
  <ol class="full_comments"> 
    <%= render partial: 'comments/comment', collection: feed_item.following_comments(current_user) %>
  </ol>
</div>
</div>
</li>

