<% name = nil %>
<% name = @topic.name if @topic %>
<div id="flash">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
</div>
<%= form_for @link , remote: true do |f| %>
  <div class="field">
    <%= f.text_area :url_link, placeholder: "Submit a link...", id: "complete_url"%>
    <%= text_field_tag 'topic_name', name , class: 'link-topic-tag' %>
    <%= f.submit "Submit", class: "btn btn-small", id: "submit_button"%>
  </div>
<% end %>
