<div class="intro_box">
<% if signed_in? %>
  <% name , val = nil %>
  <!--
     -<span class="head_intro"><h3> Start sharing links with the appropriate topic community </h3></span>
     -->

<%= form_for @link do |f| %>
  <div class="field">
    <br/>
    <span class="link_explain">1) Submit a link in the box eg: http://example.com/food.html </span>
    <br/>
    <br/>
    <%= f.text_area :url_link, class: 'new_user_text', placeholder: "Submit the best thing you saw on the Internet today "%>
    <br/>
    <br/>
    <span class="link_explain">2) Choose one suitable topic from autocomplete or just type to create a new one. eg. Food </h5>
  </span>
  <br/>
  <br/>
    <%= text_field_tag 'topic_name', name , class: 'link-topic', placeholder: "Topic name(only one)" %>
   <%= hidden_field_tag 'topic_val', val  %>
   <br/>
   <br/>
   <span class="link_explain">3)  Give your thoughts about the link 
  </span>
  <br/>
    <%= text_area_tag 'comment_body', nil, placeholder: "Add a comment"%>
    <br/>
   <%= f.submit "Submit", class: "btn btn-small gif-load"%>
   <br/>
   <br/>

   <span class="link_explain"> The submitted link will reach the topic followers and to your followers. Start submitting links </span>
  </div>
<% end %>

<% end %>
</div>
