<% @user ||= current_user %>
<div class="stats">
  <a href="<%= user_path(@user) %>" >
    <strong id="links_stat" class="stat">
      <%= @user.links.count %>
    </strong>
    links
  </a>
  <a href="<%= commented_user_path(@user) %>" >
    <strong id="comments_stat" class="stat">
      <%= @user.commented.count %>
    </strong>
    comments
  </a>
  <a href="<%= followers_user_path(@user) %>">
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat" >
      <%= @user.followers.count %>
    </strong>
    followers
  </a> 

</div>
