<li>
<div class="timestamp">
  <%= link_to time_ago_in_words(link.created_at), link %>
</div>
<%= link_to gravatar_for(@user), @user %>
<div class="user_link">
<span class="user">
  <%= link_to @user.name, @user %>
</span>
</div>
<% host = 'http://'+ link.url_link %>

<div class="host_link">
<%= link_to host.match(".+\:\/\/([^\/]+)")[1], host %> 
</div>
<div class="link_url">
<span class="url_link"><%= link_to link.url_heading, 'http://' + link.url_link %> </span>

</div>


<% if link.users.exists? current_user %>
  <%= link_to "delete", link, method: :delete, data: { confirm: "You sure?" }, title: link.url_link %>
<% end %>
</li>

