  <div class= "link-<%= link.id %>" >

    <div class ="link_contain row-fluid">
  <% if current_user and current_user.admin? %>
          <%= link_to raw("<i class=\"icon-remove icon-small\"></i>"),  link, method: :delete, data: { confirm: "You are an admin, you are deleting this permanently. You sure?" }, remote: true %>
 <% else %>
      <div class="flag">
        <%= render 'flags/flag_button', flaggable: link, type: "Link" %>
      </div>
    <% end %>
      <% cache link, expires_in: 5.minutes do %>
        <div class="info_link"><%= render 'links/link_info', link: link %></div>
        <span class="show-comments">  <%= link_to pluralize(link.comments_count, "comment"), link %></span>

      <% end %>
    </div>
  </div>
<!--
-<div class="underline"></div>
-->
