<div class= "link-<%= link.id %>" >
  <% if signed_in? and @topic %>
   <% if unsubmit = current_user.link_users.find_by_link_id_and_topic_id(link.id, @topic.id) %>
    <div class="unsubmit">
      <%= link_to raw("<i class=\"icon-remove icon-small\"></i>"),  unsubmit_topic_path(@topic, unsubmit: unsubmit, topic: @topic.id), method: :post %>
    </div>
  
  <% else %>
    <div class="flag">
      <%= render 'flags/flag_button', flaggable: link, type: "Link" %>
    </div>
  <% end %>
<% end %>
  <% host = 'http://'+ link.url_link %>
  <div class="link-image">
  <%= link_image('http://' + link.url_link) %>
</div>

  <div class="link_url">
    <span class="url_link"><%= link_to link.url_heading, 'http://' + link.url_link %> </span>

  </div>
  <div class="host_link">
    <%= link_to host.match(".+\:\/\/([^\/]+)")[1], host %> 
    </div>
  <% if @topic %>
    <div id="topic-downvote">
      <%= render 'topics/downvote_button', link: link %>
    </div>
  <% end %>
  <div class="vote">
    <%= render 'votes/vote_button', votable: link, type: "Link" %>
  </div>
  <div class="votes-up"> <i class="icon-caret-up icon-small"></i></div>
  <div class="votes">
    <%= link.votes.count %>
  </div>
  <div class="show-comments">  <%= link_to pluralize(link.comments.count, "comment"), link %></div>
</div>
<br/>
  <div class="underline"></div>

