<% provide(:title, @link.url_heading) %>
<meta property="fb:app_id" content="295241533825642" /> 
<meta property="og:type"   content="website" /> 
<meta property="og:url"    content="<%= link_url(@link)%>"/>
<meta property="og:title"  content= "<%= @link.url_heading %>" /> 
<meta property="og:image"  content="https://s-static.ak.fbcdn.net/images/devsite/attachment_blank.png" />
<div class="container-fluid">
  <div class="link-<%= @link.id %>" >
    <div class = "span8">
      <div id="topics-list">
        <%= render 'list_topics' %>
      </div>
      <h5>
        <% host = 'http://'+ @link.url_link %>
        <div class="link_url">

          <div class="host_link">
            <%= link_to host.match(".+\:\/\/([^\/]+)")[1], host %> 
          </div>
          <span class="url_link"><%= link_to @link.url_heading, 'http://' + @link.url_link %> </span>
        </div>
      </h5>

      <div class="vote">
        <%= render 'votes/vote_button', votable: @link, type: @link.class.to_s %>

      </div>
      <div class="votes">
        <%= @link.votes.count %>
      </div>
  <div class="votes-up"> <i class="icon-caret-up icon-small"></i></div>
      <div class="show_comment">
        <%= (@link.comments.count) %>
      </div>
  <i class="icon-comments-alt icon-small"></i>
    </div>

   <%= render 'shared/load_gif' %>
    <div class="span8">
      <div class="comment-form">
      <%= render 'shared/comment_form' %>
    </div>
      <ol class="full_comments">
        <%= render partial: 'comments/comment', collection: @comments %>
      </ol>

        <div class="load-more">
        <%= link_to 'Load More', link_path(@link,page: (params[:page].to_i || 1)+1, per_page: params[:per_page] || 15), class: 'hook-link-comments', remote: true %>
      </div>
    </div>
  </div>
</div>


