<% cache @link do %>
<% provide(:title, @link.url_heading) %>
<meta property="fb:app_id" content="295241533825642" /> 
<meta property="og:type"   content="website" /> 
<meta property="og:url"    content="<%= link_url(@link)%>"/>
<meta property="og:title"  content= "<%= @link.url_heading %>" /> 
<meta property="og:image"  content="<%= @link.topics.first.avatar.url if @link.topics.first %>"/>
<div class="container-fluid">
  <div class="link-<%= @link.id %>" >
    <div class = "span8">
      <div id="topics-list">
        <%= render 'list_topics' %>

      </div>
      <%= render 'links/link', link: @link %>
    </div>

    <div class="span8">
      <div class="comment-form">
      <%= render 'shared/comment_form' %>
    </div>
    <% if  @comments.any? %>
    <ol class="full_comments">
      <%= render @comments %>
      </ol>
      <% params[:page] = 1 %>
    <% else %>
    <ol class="full_comments">
      </ol>
    <%end %>
        <div class="load-more">
        <%= link_to 'Load More', link_path(@link,page: (params[:page].to_i || 1)+1, per_page: params[:per_page] || 15), class: 'hook-link-comments', remote: true %>
      </div>

    </div>
  </div>
</div>
<% end %>
