<% provide(:title, @link.url_heading) %>
<meta property="fb:app_id" content="295241533825642" /> 
<meta property="og:type"   content="website" /> 
<meta property="og:url"    content="<%= link_url(@link)%>"/>
<meta property="og:title"  content= "<%= @link.url_heading %>" /> 
<meta property="og:image"  content="<%= @link.topics.first.avatar.url if @link.topics.first %>"/>
<div class="container-fluid">
  <div class="link-<%= @link.id %>" >
    <div class = "span8">
      <%= render 'submit_to_topics'%>
      <% cache ["list_topics", @link] do %>
        <div id="topics-list">
          <%= render 'list_topics' %> 
          <!--
          -fragment cached!..but now its a  problem!!Lets try adding diff cache
          -->
        </div>
      <% end %>
        <%= render 'links/link', link: @link %>
        <!--
        -      links are always fragment cached with their link info and stats :) no need of counter cache as it has already has a cache digest with "touch: true" to change as and when :) due to topics-list problem lets try combined caching with cache @link :)
        - may expose vote button but never mind it disappears when tried to click
        -->

    </div>
    <div class="span8">
      <div class="comment-form">
        <%= render 'shared/comment_form' %>
      </div>
      <% if  @comments.all.count > 0 %>
        <ol class="full_comments">
          <%= render partial: 'comments/comment', collection: @comments %>
          <!--
          -each comment is fragment cached :)
          -->
        </ol>
      <% else %>
        <ol class="full_comments">
        </ol>
      <%end %>
      <div class="load-more">
        <%= link_to 'Load More', link_path(@link,page: (params[:page].to_i || 1)+1, per_page: params[:per_page] || 15), class: 'hook-link-comments', remote: true %>
      </div>

    </div>
  </div>
</div>
