<% provide(:title, @link.url_heading) %>
 <div class="container-fluid">
 <div class="link-<%= @link.id %>" >
<h3>
<% host = 'http://'+ @link.url_link %>
<div class="link_url">

<div class="host_link">
<%= link_to host.match(".+\:\/\/([^\/]+)")[1], host %> 
</div>
<span class="url_link"><%= link_to @link.url_heading, 'http://' + @link.url_link %> </span>
</div>
</h3>
<div class = "span8">
<div class="vote">
<%= render 'votes/vote_button', votable: @link, type: @link.class.to_s %>

</div>
<div class="submit">
  <%= render 'links/submit',link: @link %>
</div>

<div class="votes">
<%= pluralize(@link.votes.count, "vote")%>
</div>
<div class="submits">
<%= pluralize(@link.users.count, "submit")%>
</div>
<div class="show_comment">
<%= pluralize(@link.comments.count, "comment") %>
</div>
</div>

<div class="span8">
<ol class="full_comments">
<%= render partial: 'comments/comment', collection: @link.comments %>
</ol>
<%= will_paginate @comments %>

<section>
<%= form_for :comment, url: comments_path(link_id: @link) do |f| %>
  <div class="field">
    <%= f.text_area :body, placeholder: "Add a comment", id: "comment_text"%>
    <%= f.submit "Submit", class: "btn btn-small"%>
  </div>
<% end %>
</section>
</div>
</div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
	$("#submit_button").hide();

    $('textarea#comment_text').autosize();  
});
</script>


