
<header class="navbar">

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="nav-collapse">
        <%=link_to "submify", root_path, class: "brand" %>
        <% if signed_in? %>
          <%= form_tag links_path , :method => 'get', class:"navbar-search " do %>

            <%= text_field_tag :q, params[:q],class:"search-query", id: "search_input", placeholder:"Search" %>
          <% end %>
        <nav>
        <ul class="nav pull-right">

            <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
              Explore<b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
<div class="topics-nav">

              <%= render 'shared/show_topics_nav' %>
            </div>
            </ul>
            </li>
            <li><%= link_to "Home",root_path  %> </li>
            <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle"  data-toggle="dropdown" >
              
              <%= current_user.name.split.first %> 
              <%= image_tag (current_user.avatar.url(:thumb)), class: "gravatar" %><b class="caret"></b>
              <% if notify_count > 0 %>
                <span class="noti_bubble"><%= notify_count %></span>
              <% end %>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Following", following_user_path(current_user) %> </li>
              <% if notify_count > 0 %>
                <span class="noti_noti"> <%= notify_count %></span>
              <% end %>
                </li>
              
              <li><%= link_to "Notifications", notifications_user_path(current_user) %> 

              
              <li><%= link_to "Settings", edit_user_path(current_user)%>  </li>
                 
              <li class="divider"></li>
              <li> <%= link_to "Sign out", signout_path, method: "delete" %> </li>
            </ul>
            </li>
          <% else %>
            <ul class="nav pull-right"> 
              <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
            </ul>
          <% end %>
        </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
</header>
