
<header class="navbar">

<div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
   <div class="container-fluid">
     <div class="nav-collapse">
       <%=link_to "youarel", root_path, class: "brand" %>
       <% if signed_in? %>
<%= form_tag links_path , :method => 'get', class:"navbar-search " do %>

  <%= text_field_tag :q, params[:q],class:"search-query", id: "search_input", placeholder:"Search" %>
<% end %>
<% end %>
       <nav>
       <ul class="nav pull-right">
        <% if signed_in? %>
          
        <li id="fat-menu" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
            Explore<b class="caret"></b>
           </a>

          <ul class="dropdown-menu">
            <%= render 'shared/show_topics_nav' %>
        </ul>
        </li>
        <li><%= link_to "Home",root_path  %> </li>
        <li id="fat-menu" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
            <%= current_user.name.split.first %> 
            <%= image_tag (current_user.avatar.url(:thumb)), class: "gravatar" %><b class="caret"></b>
           </a>
          <ul class="dropdown-menu">
           <li><%= link_to "Profile", current_user %></li>
           <li><%= link_to "Following", following_user_path(current_user) %> </li>
            <!--
               -<li><%= link_to "Settings", edit_user_path(current_user) %> </li>
               -->
            <li class="divider"></li>
           <li> <%= link_to "Sign out", signout_path, method: "delete" %> </li>
        </ul>
        </li>
      <% else %>
        <li> 
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
        </li>
      <% end %>
    </ul>
    </nav>
  </div>
  </div>
  </div>
</div>
</header>
